ul {
    display: flex;
    flex-direction: row;
    //overflow-x: scroll;
    overflow-x: auto;
    // 支持手机上用触摸去滚动，加和不加可能都支持，这个待验证
    -webkit-overflow-scrolling: touch;


    li {
        //display: inline-b;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0 5px;
        white-space: nowrap;

    }

    .indicator {
        width: 2rem;
        height: 2px;
        background-color: brown;
        margin-top: 5px;
    }
}

.active {
    color: red;
}
